<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


    <footer th:fragment="footerFragment">
        <div>
            <h2><b>T.1234-5678</b></h2>
            <p>평일 am 10:00 - pm 05:00</p>
            <p>토,일 공휴일 휴무</p>
            <h3><b>ACCOUNT</b></h3>
            <p>국민:111-1111-1111-11</p>
            <p>예금주:벨벳</p>
        </div>
        <div>
            <p>company.주식회사 벨벳</p>
            <p>owner.벨벳 TEL.010-0000-0000</p>
            <address>경기도 성남시 모란</address>
            <p>BUSINESS LICENSE.111-23-12312</p>
            <h4><b>사업자정보확인</b></h4>
            <p>CHIEF PRIVACY OFFICER.벨벳 E_MAIL.jklasd@naver.com</p>
            <small>copyright &copy; 주식회사 벨벳. ALL RIGHTS RESERVED. DESIGN BY VELVET</small>
        </div>
        <div>
            <h4><b>교환반품주소</b></h4>
            <p><b>(우 12345) 경기도 성남시 모란우체국</b></p>
            <p>*고객센터에 접수 후 상품을 보내주셔야하며, 지정택배사를 이용해주시기 바랍니다.</p>
            <h5><b>SNS</b></h5>
            <a href="https://www.instagram.com/" class="insta">INSTAGRAM @VELVET</a>
        </div>
    </footer>
</html>