/* 리셋 스타일 */
body{
    bottom: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 하이퍼링크 스타일 */
a {
    text-decoration: none;
    color: black;
}

/* 목록 스타일 제거 */
li {
    list-style: none;
}

/* 로고 및 작은 메뉴 스타일 */
.smallmenu {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    list-style: none;
}

.smallmenu li {
    margin-right: 10px;
}

.smallmenu li:last-child {
    margin-right: 0;
}

.smallmenu a {
    color: grey;
    text-decoration: none;
    font-weight: normal;
    font-size: 10px;
}

/* 내비게이션 바 스타일 */
.nav-custom-nav ul {
    z-index: 10;
}

.nav-custom-nav > ul > li > a {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
}

.nav-custom-nav > ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.logo img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-custom-nav li {
    margin: 0 30px;
}

.nav-custom-nav ul li a {
    color: black;
    text-decoration: none;
}

/* 드롭다운 메뉴 스타일 */
.primary_nav_wrap {
    margin-top: 15px;
    text-align: center !important;
    display: flex;
    justify-content: center;
}

.primary_nav_wrap ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

.primary_nav_wrap ul a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    line-height: 32px;
    padding: 0 35px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.primary_nav_wrap ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    z-index: 10;
}

.primary_nav_wrap ul li.current-menu-item {
    background: #ddd;
}

.primary_nav_wrap ul li:hover {
    background: #f6f6f6;
}

.primary_nav_wrap ul ul {
    border: 1px solid black;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 0;
}

.primary_nav_wrap ul ul li {
    float: left;
    width: 200px;
}

.primary_nav_wrap ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

.primary_nav_wrap ul ul ul {
    top: 0;
    left: 100%;
}

.primary_nav_wrap ul li:hover > ul {
    display: block;
}

/* 텍스트 스타일 */
.separator {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.separator::before,
.separator::after {
    content: "";
    display: inline-block;
    width: 50%;
    height: 1px;
    background-color: gray;
    position: absolute;
    top: 50%;
}

.separator::before {
    left: 0;
}

.separator::after {
    right: 0;
}

.new-arrivals {
    font-weight: bold;
    font-size: 24px;
    background-color: white;
    padding: 0 20px;
    position: relative;
    z-index: 1;
    display: inline-block;
    position: relative;
    background-color: white;
}

.newarrivals,
.bestitems {
    margin: 0 auto; /* 가운데 정렬을 위해 수정 */
    max-width: 1200px; /* 고정 너비 설정 */
    padding: 0 20px; /* 좌우 여백 추가 */
}

.best-items {
    font-weight: bold;
    font-size: 24px;
    background-color: white;
    padding: 0 20px;
    position: relative;
    z-index: 1;
    display: inline-block;
    position: relative;
    background-color: white;
}

/* 푸터 스타일 */
footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: lightgrey;
    color: black;
    padding: 20px 0;
    margin-top: 60px;

    /* position: absolute; */
    /* bottom: 0; */
    /* width: 100%; */

    /* position: fixed; */
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 0;
    z-index: 999; /* 다른 요소 위에 표시되도록 설정 */
}

footer > div {
    flex: 1;
    margin-right: 20px;
    text-align: left;
    padding-left: 40px;
}

footer > div:last-child {
    margin-right: 0;
}

/* 위로 이동 버튼 스타일 */
.scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    width: 40px;
    height: 40px;
    border: 0px;
    cursor: pointer;
}

.scrollToTopButton img{
    width:100%;
    height:100%;
}
.insta {
    text-decoration: none;
    color: black;
}

.justify-content-center{
    padding: 50px;
}

