/* 리셋 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 하이퍼링크 스타일 */
a {
    text-decoration: none;
    color: black;
}

/* 목록 스타일 제거 */
li {
    list-style: none;
}

/* 로고 및 작은 메뉴 스타일 */
.smallmenu {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    list-style: none;
}

.smallmenu li {
    margin-right: 10px;
}

.smallmenu li:last-child {
    margin-right: 0;
}

.smallmenu a {
    color: grey;
    text-decoration: none;
    font-weight: normal;
    font-size: 10px;
}

/* 내비게이션 바 스타일 */
.nav-custom-nav ul {
    z-index: 10;
}

.nav-custom-nav>ul>li>a {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
}

.nav-custom-nav>ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.logo img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-custom-nav li {
    margin: 0 30px;
}

.nav-custom-nav ul li a {
    color: black;
    text-decoration: none;
}

/* 드롭다운 메뉴 스타일 */
.primary_nav_wrap {
    margin-top: 15px;
    text-align: center !important;
    display: flex;
    justify-content: center;
}

.primary_nav_wrap ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

.primary_nav_wrap ul a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    line-height: 32px;
    padding: 0 35px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.primary_nav_wrap ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    z-index: 10;
}

.primary_nav_wrap ul li.current-menu-item {
    background: #ddd;
}

.primary_nav_wrap ul li:hover {
    background: #f6f6f6;
}

.primary_nav_wrap ul ul {
    border: 1px solid black;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 0;
}

.primary_nav_wrap ul ul li {
    float: left;
    width: 200px;
}

.primary_nav_wrap ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

.primary_nav_wrap ul ul ul {
    top: 0;
    left: 100%;
}

.primary_nav_wrap ul li:hover>ul {
    display: block;
}


/* 로그인폼 */

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh; !* 화면 전체 높이만큼 요소를 채우도록 설정 *!*/
    flex-direction: column; /* 요소를 수직으로 정렬 */
}

section p{
    margin-top:50px;
}

section button{
    width:100%;
    height:40px;
    margin-top:10px;
    margin-bottom:10px;
}

input{
    width:100%;
    height:35px;
    border:1px solid grey;
    border-radius: 5px;
}

.button1{
    margin-top:5px;
}

.button2{
    margin-top:10px;
}

table a{
    text-decoration: none;
    color:rgb(97, 97, 97);
    font-size: smaller;
}

table{
    border-collapse: collapse;
}

td:not(:last-child) {
    border-right: 1.5px solid grey;
}

td{
    padding-right:5px;
    padding-left:5px;
}

.td{
    padding-left:106.5px;
}

.buttonwrap{
    width:356.38px;
    margin-top:10px;
}

.buttonwrap img{
    width:356.38px;
    height:45px;
}












/* 푸터 스타일 */
footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: lightgrey;
    color: black;
    padding: 20px 0;
    margin-top: 60px;
    background-color: lightgrey;
    text-align: center;
    width:100%;
}

footer>div {
    flex: 1;
    margin-right: 20px;
    text-align: left;
    padding-left: 40px;
}

footer>div:last-child {
    margin-right: 0;
}

/* 위로 이동 버튼 스타일 */
.scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    width: 40px;
    height: 40px;
    border: 0px;
    cursor: pointer;
}

.scrollToTopButton img{
    width:100%;
    height:100%;
}

.insta {
    text-decoration: none;
    color: black;
}